* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  font-family: "Lekton", serif;
  font-weight: 500;
}
.nav-bg {
  background-color: #e3e3da;
}
.logo {
  height: 7rem;
}

.active {
  font-weight: bold;
}
/* search-input */
.search-state input {
  height: 3.5rem;
  width: 20rem;
  font-size: 1.5rem;
}

.btn-search {
  height: 3.5rem;
  width: 9.5rem;
  font-size: 1.5rem;
  /* background: #e6b908; */
  /* transition: 0.5s; */
}
/* 
.btn-search:hover {
  background-color: rgb(114, 97, 29);
}
.btn-search:active {
  background-color: rgb(124, 130, 75) !important;
  outline: none !important;
  color: black;
}
.btn-search:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(30, 27, 14, 0.5);
  border: none;
  color: white;
} */

.navbar-toggler-icon {
  font-size: 2.5rem;
}
.navbar-toggler {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

footer {
  margin-top: 10rem;
}

/* footer */

.footer-container {
  /* background-color: aquamarine; */
  /* height: 40vh; */
  margin-top: 4rem;
}
.footer-container img {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footer-container p {
  margin: 0;
  font-size: 1.8rem;
}

.footer-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  position: relative;
}

.link-trans:after {
  content: "";
  width: 100%;
  background-color: #e6b908;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  border-radius: 0.6rem;
  transform: scaleX(0);
  transition: transform 0.5s;
  height: 0.2rem;
}

.link-trans:hover:after {
  transform: scaleX(1);
}

.footer-container ul li {
  list-style: none;
}

.service {
  padding: 0;
}
.footer-container h3 {
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}
.footer-social {
  /* border: 1px solid black; */
  margin-top: 4rem;
}
.footer-social i {
  margin-right: 1rem;
  cursor: pointer;
}

.form-footer {
  /* border-bottom: 1px solid black; */
  position: relative;
}

.form-footer:after {
  content: "";
  width: 82%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  background-color: black;
}
form input {
  outline: none;
  background: transparent;
  border: 0;
  width: 70%;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.link-trans {
  position: relative;
}

/* Our Beer Section */

.img-resize {
  cursor: pointer;
}

.img-modal {
  height: 50vh;
}

/* modal */

.modal {
  margin-top: 1rem;
}
.modal-dialog {
  max-width: 90rem;
  margin-bottom: 3rem;
}
.modal-header {
  background-color: #e3e3da;
  height: 8rem;
}

.img-resizes {
  height: 50rem;
  text-align: center;
}
.img-resizes img {
  height: 100%;
}

.beer-description {
  padding-right: 3rem;
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 4rem !important;
}
.beer-description span {
  font-weight: normal;
  font-size: 1.7rem;
}
.modal-header {
  justify-content: space-between;
}

.close {
  height: 4rem;
  width: 4rem;
  border-radius: 50rem;
  border: none;
  background-color: #e6b908;
}

.card {
  border: none;
}

.img-resize {
  width: 100%;
  overflow: hidden;
}
.card:hover .img-resize img {
  transform: scale(1.2) !important;
}

.card-img-top {
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
}

.hero-beer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/4.png");
  height: 90vh;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.hero-beer h1 {
  color: white;
  font-size: 4.5rem;
  font-family: "Varela Round";
  font-weight: 700;
  padding: 4rem;
}

/* sort */

.selection {
  justify-content: flex-end;
  text-align: center;
  height: 4rem;
}
.sort-beer {
  width: 30rem;
}
.beer-tagline {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.form-select {
  font-size: 1.5rem;
  width: 50rem;
  /* border: 1px solid black; */
  height: 3.5rem;
  outline: none !important;
  box-shadow: none;
  margin-right: 1.5rem;
}
.form-select:focus {
  outline: none !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border: 2px solid #e6b908;
}

.carousel-inner {
  height: 70rem;
}
.carousel-indicators [data-bs-target] {
  width: 2rem;
  height: 2rem;
  background-color: #979530;
  margin-bottom: 1rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.beer-fluid {
  padding-right: 0;
  padding-left: 0;
}

.beer-text {
  font-size: 5rem;
  color: #979530;
  opacity: 0.9;
}

.text-design {
  position: relative;
  /* border: 1px solid black; */
}
.text-design p {
  position: absolute;
  /* 
  border: 1px solid black; */
  margin-top: -1rem;
  margin-left: 50%;
  line-height: 1;
  font-size: 1.7rem;
}

/* HOME SECTION */

.home-container {
  padding-right: 0;
  padding-left: 0;
}
.home-carousel-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/5.png");
  height: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-carousel-1 .comment-text {
  height: 100%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
}
.home-carousel-1 .comment-text .row {
  align-items: center;
}
.home-carousel-1 .comment-text .row .col h1 {
  font-size: 6rem;
  font-family: "Varela Round";
  font-weight: 700;
}

.home-carousel-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/3.png");
  height: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-carousel-2 .comment-text {
  height: 100%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
}
.home-carousel-2 .comment-text .row {
  align-items: center;
}
.home-carousel-2 .comment-text .row .col h1 {
  font-size: 6rem;
  font-family: "Varela Round";
  font-weight: 700;
}

.home-carousel-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/6.png");
  height: 100%;
  background-position-x: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-carousel-3 .comment-text {
  height: 100%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
}
.home-carousel-3 .comment-text .row {
  align-items: center;
}
.home-carousel-3 .comment-text .row .col h1 {
  font-size: 6rem;
  font-family: "Varela Round";
  font-weight: 700;
}

.home-img {
  width: 100%;
  height: 30rem;
}

.home-img-only {
  height: 30rem;
  width: 45rem;
}

.hays {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeac8;
}

.offer-text {
  font-size: 2.5rem;
}

.offer-p {
  font-size: 1.8rem;
  padding: 1rem;
}
hr {
  border: 2px solid rgb(67, 68, 6);
}

/* Search Css */
.directories {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-directories {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  line-height: 1;
  font-size: 1.5rem;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.card-state-text {
  height: 4rem;
  display: flex;
  align-items: center;
}
.brew-text {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.card-link {
  text-decoration: none;
  color: black;
}
.hrs {
  border: 3px solid rgb(23, 12, 12);
}

.link-site {
  color: #5170d5;
  font-weight: normal;
}

.not-avail {
  color: rgb(219, 55, 55);
}

/* .menu-style {
  border: 1px solid red;
} */

.menu-text {
  font-size: 1.6rem;
  /* border: 1px solid black; */
  line-height: 1;
}

.menu-name {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 600;
  color: #414115;
}

.ingredients {
  font-size: 1.4rem;
  color: rgb(130, 127, 127);
}

.text-advice {
  font-style: italic;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 10rem;
}

footer p {
  font-size: 1.7rem;
  line-height: 1.2;
}
.service li {
  font-size: 1.7rem;
  line-height: 1.3;
  color: red;
}

.large {
  background-color: hsl(226, 63%, 61%) !important;
}

.btn-active {
  background-color: #979530 !important;
  width: 12rem;
  height: 3.4rem;
  opacity: 0.8;
  color: whitesmoke;
}

.btn-active:hover {
  color: whitesmoke;
}
.btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.5s;

  outline: none;
  border: none;
  transition: all 0.3s ease;
}
.btn-warning:hover {
  background-color: #dfdf99;
  transition: 0.5s;
}

/* spinner */
/* .spinner-container {
  display: none;
} */
.loader {
  width: 60px;
  height: 160px;
  display: inline-block;
  position: relative;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: rgba(255, 179, 0, 0.9);
  border-radius: 90px 90px 7px 7px;
  background: #fff;
  animation: fill 1.3s linear infinite alternate;
  border-bottom: 1px solid rgb(233, 228, 198);
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -95%);
  border: 2px solid #fff;
  border-bottom: none;
  background: #fff;
  width: 25px;
  height: 75px;
  animation: fillNeck 1.3s linear infinite alternate;
}
.loader-div {
  text-align: center;
  width: 100%;
  height: 40vh;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 15rem;
}

@keyframes fill {
  0% {
    box-shadow: 70 -20 inset;
  }
  50%,
  100% {
    box-shadow: 0 -150px inset;
  }
}

@keyframes fillNeck {
  0%,
  50% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -70px inset;
  }
}

/* loaders */

.loaders {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: rgba(255, 179, 0, 0.9);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

/* contact */

.info {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0 !important;
  padding: 0 7rem;
}

.bar-address {
  line-height: 1;
  margin-top: 2rem;
}

.days {
  font-size: 1.7rem;
  margin-top: 3.5rem;
  font-weight: bold;
}

.contact-icon {
  height: 5rem;
  width: 5rem;
  border-radius: 50rem;
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6b908;
}
.contact-icon .bi {
  font-size: 2.5rem;
}

.location,
.phone,
.email {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 3rem;
}

.contact-section {
  font-size: 1.8rem;
  font-weight: bold;
}

.text-advices {
  font-style: italic;
  margin-bottom: 1rem;
}

/* .contact-details {
  background-color: #e3e3da;
} */
.container-md {
  /* background-color: #5b79da; */
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.contact-h2 {
  font-family: "Satisfy";
  font-size: 3rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.contact-reach {
  margin-top: 2rem;
}

/* .contact-form {
  background-color: #dedec6;
  padding: 0;
} */
.contact-container {
  padding: 0 !important;
  margin: 0 !important;
}

.contact-field {
  margin-top: 3rem;
}

.message-us {
  padding-left: 6rem;
}

.carousel-inner {
  height: 90vh;
}

.submit-form {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.no-border,
.no-border:active {
  height: 3rem;

  font-size: 1.5rem;
}

.form-message {
  font-size: 1.8rem;
  margin-left: 2.4rem;
  font-family: "Varela Round";
  color: rgb(8, 115, 47);
  height: 4rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.no-outline {
  font-size: 1.6rem;
}

.bi-check2 {
  font-size: 2.9rem;
}

.f-nv {
  margin-bottom: 0.3rem;

  display: inline-block;
}

.offcanvas-end {
  width: 32rem !important;
}

.carousel-text {
  padding: 2rem;
}

.error-text {
  color: rgb(86, 76, 76);
  font-size: 2.5rem;
}

.error-container {
  height: 60vh;
  /* background-color: #dfdf99; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-modal h5 {
  font-size: 2rem;
  color: rgb(190, 57, 57);
}

.search-modal-dialog {
  width: 50rem !important;
  height: 90rem;
}

.btn-close {
  margin-right: 1rem !important;
}

.hidden {
  display: none;
  margin-top: 3rem !important;
  height: 30rem;
}

.spinner-containers {
  height: 40vh;
}

.contact-p {
  padding-right: 2rem;
}

.nav-link {
  font-size: 1.8rem;
}
