* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Marcellus", serif;
  font-weight: 500;
}
.nav-bg {
  background-color: #e3e3da;
}
.logo {
  height: 7rem;
}

/* search-input */
.search-state input {
  height: 4rem;
  width: 20rem;
  font-size: 1.5rem;
}

.btn-search {
  height: 4rem;
  width: 9.5rem;
  font-size: 1.5rem;
  background: #e6b908;
  transition: 0.5s;
}

.btn-search:hover {
  background-color: rgb(114, 97, 29);
}
.btn-search:active {
  background-color: rgb(124, 130, 75) !important;
  outline: none !important;
  color: black;
}
.btn-search:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(30, 27, 14, 0.5);
  border: none;
  color: white;
}

.navbar-toggler-icon {
  font-size: 2.5rem;
}
.navbar-toggler {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

footer {
  margin-top: 10rem;
}

/* footer */

.footer-container {
  /* background-color: aquamarine; */
  /* height: 40vh; */
  margin-top: 4rem;
}
.footer-container img {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footer-container p {
  margin: 0;
  font-size: 1.8rem;
}

.footer-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  position: relative;
}

.link-trans:after {
  content: "";
  width: 100%;
  background-color: #e6b908;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  border-radius: 0.6rem;
  transform: scaleX(0);
  transition: transform 0.5s;
  height: 0.2rem;
}

.link-trans:hover:after {
  transform: scaleX(1);
}

.footer-container ul li {
  list-style: none;
}

.service {
  padding: 0;
}
.footer-container h3 {
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}
.footer-social {
  /* border: 1px solid black; */
  margin-top: 4rem;
}
.footer-social i {
  margin-right: 1rem;
  cursor: pointer;
}

.form-footer {
  /* border-bottom: 1px solid black; */
  position: relative;
}

.form-footer:after {
  content: "";
  width: 82%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  background-color: black;
}
form input {
  outline: none;
  background: transparent;
  border: 0;
  width: 70%;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.link-trans {
  position: relative;
}

/* Our Beer Section */

.img-resize {
  cursor: pointer;
}

/* modal */

.modal {
  margin-top: 3rem;
}
.modal-dialog {
  max-width: 90rem;
}

.img-resizes {
  height: 50rem;
  text-align: center;
}
.img-resizes img {
  height: 100%;
}

.beer-description {
  padding-right: 3rem;
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 4rem !important;
}
.beer-description span {
  font-weight: normal;
  font-size: 1.7rem;
}
.modal-header {
  justify-content: space-between;
}

.close {
  height: 4rem;
  width: 4rem;
  border-radius: 50rem;
  border: none;
  background-color: #e6b908;
}

.card {
  border: none;
}

.img-resize {
  width: 100%;
  overflow: hidden;
}
.card:hover .img-resize img {
  transform: scale(1.2) !important;
}

.card-img-top {
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
}

.hero-beer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/4.png");
  height: 70rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-beer h1 {
  padding: 0 !important;
  margin: 0 !important;
  color: white;
  font-size: 4.5rem;
  font-family: "Varela Round";
  font-weight: 700;
}

/* sort */

.selection {
  justify-content: flex-end;
  text-align: center;
  height: 4rem;
}
.sort-beer {
  width: 30rem;
}
.beer-tagline {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.form-select {
  font-size: 1.5rem;
  width: 50rem;
  /* border: 1px solid black; */
  height: 3.5rem;
  outline: none !important;
  box-shadow: none;
}
.form-select:focus {
  outline: none !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border: 2px solid #e6b908;
}

/* our beer carousel */

/* .ourbeer-carousel-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/4.png");
  height: 100%;
  background-position-x: left;
  background-repeat: no-repeat;
}

.ourbeer-carousel-1 .comment-text {
  height: 100%;
  color: white;

  text-align: center;
  display: flex;
  justify-content: center;
}
.ourbeer-carousel-1 .comment-text .row {
  align-items: center;
}
.ourbeer-carousel-1 .comment-text .row .col h1 {
  font-size: 5rem;
  font-family: "Varela Round";
}
.ourbeer-carousel-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/2.png");
  height: 100%;

  background-repeat: no-repeat;
}

.ourbeer-carousel-2 .comment-text {
  height: 100%;
  color: white;

  text-align: center;
  display: flex;
  justify-content: center;
}

.ourbeer-carousel-2 .comment-text .row {
  align-items: center;
}
.ourbeer-carousel-2 .comment-text .row .col h1 {
  font-size: 5rem;
  font-family: "Varela Round";
}

.ourbeer-carousel-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("./images/heroCovers/1.png");
  height: 100%;

  background-repeat: no-repeat;
}
.ourbeer-carousel-3 .comment-text {
  height: 100%;
  color: white;

  text-align: center;
  display: flex;
  justify-content: center;
}
.ourbeer-carousel-3 .comment-text .row {
  align-items: center;
}
.ourbeer-carousel-3 .comment-text .row .col h1 {
  font-size: 5rem;
  font-family: "Varela Round";
} */

.carousel-inner {
  height: 70rem;
}
.carousel-indicators [data-bs-target] {
  width: 2rem;
  height: 2rem;
  background-color: #979530;
  margin-bottom: 1rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.beer-fluid {
  padding-right: 0;
  padding-left: 0;
}

.beer-text {
  font-size: 5rem;
  color: #979530;
  opacity: 0.9;
}

.text-design {
  position: relative;
  /* border: 1px solid black; */
}
.text-design p {
  position: absolute;
  /* 
  border: 1px solid black; */
  margin-top: -2.6rem;
  margin-left: 50%;
}

/* HOME SECTION */

.home-container {
  padding-right: 0;
  padding-left: 0;
}
.home-carousel-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/5.png");
  height: 100%;
  background-position-x: left;
  background-repeat: no-repeat;
}

.home-carousel-1 .comment-text {
  height: 100%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
}
.home-carousel-1 .comment-text .row {
  align-items: center;
}
.home-carousel-1 .comment-text .row .col h1 {
  font-size: 6rem;
  font-family: "Varela Round";
  font-weight: 700;
}

.home-carousel-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/3.png");
  height: 100%;
  background-position-x: left;
  background-repeat: no-repeat;
}

.home-carousel-2 .comment-text {
  height: 100%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
}
.home-carousel-2 .comment-text .row {
  align-items: center;
}
.home-carousel-2 .comment-text .row .col h1 {
  font-size: 6rem;
  font-family: "Varela Round";
  font-weight: 700;
}

.home-carousel-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./images/heroCovers/6.png");
  height: 100%;
  background-position-x: left;
  background-repeat: no-repeat;
}

.home-carousel-3 .comment-text {
  height: 100%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
}
.home-carousel-3 .comment-text .row {
  align-items: center;
}
.home-carousel-3 .comment-text .row .col h1 {
  font-size: 6rem;
  font-family: "Varela Round";
  font-weight: 700;
}

.home-img {
  width: 100%;
  height: 30rem;
}

.home-img-only {
  height: 30rem;
  width: 45rem;
}

.hays {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeac8;
}

.offer-text {
  font-size: 2.5rem;
}

.offer-p {
  font-size: 1.8rem;
  padding: 1rem;
}
hr {
  border: 2px solid rgb(67, 68, 6);
}

/* Search Css */
.directories {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-directories {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  line-height: 1;
  font-size: 1.5rem;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.card-state-text {
  height: 4rem;
  display: flex;
  align-items: center;
}
.brew-text {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.card-link {
  text-decoration: none;
  color: black;
}
.hrs {
  border: 3px solid rgb(23, 12, 12);
}

.link-site {
  color: #ab5c12;
  font-weight: 600;
}
